@media (max-width: 1140px)
	.header
		.header__wrapper
			.header__phone
				font-size: 25px
	.promo
		&__wrapper
			.promo__info
				h1
					font-size: 47px
			.promo__images
				.icon-promo
					display: none
	.modal-confid
		width: 88%

@media (max-width: 1068px)
	.promo
		&__wrapper
			.promo__info
				h1
					font-size: 44px
					margin-bottom: 55px
				h2
					font-size: 29px
					margin-bottom: 55px
			.promo__images
				.img-promo
					width: 450px
					height: 453px		

@media (max-width: 1023px)
	.header
		.header__wrapper
			padding-top: 10px
			display: block
			position: relative
			.header__menu
				text-align: center
				li
					margin: 0 8px
			.header__phone
				position: absolute
				font-size: 28px
				right: 15px
				top: 20px
				a::before
					display: block
					width: 28px
					height: 28px
					left: -30px
				span
					display: none
	.promo
		margin-top: 101px
	.services
		.services__wrapper
			justify-content: space-around
			.services__item
				width: 360px

@media (max-width: 980px)
	.promo
		&__wrapper
			.promo__info
				margin-right: 0
				h1
					font-size: 38px
					margin-bottom: 50px
					margin-top: 10px
				h2
					font-size: 27px
					margin-bottom: 50px
			.promo__images
				.img-promo
					width: 425px
					height: 428px
	.contacts
		.contacts__wrapper
			h2
				font-size: 17px
				margin-bottom: 30px
			.contacts__items
				margin-bottom: 10px
				a
					width: 70px
					height: 70px
					margin: 0 10px
				a:hover 
					img
						width: 90%
	.modal-confid
		height: 80%

@media (max-width: 889px)
	.header
		.header__wrapper
			.header__menu
				text-align: right
			.header__phone
				font-size: 23px
				a::before
					width: 22px
					height: 22px
	.promo
		&__wrapper
			.promo__info
				margin-right: 0
				h1
					font-size: 34px
					margin-bottom: 45px
					margin-top: 10px
				h2
					font-size: 23px
					margin-bottom: 45px
			.promo__images
				.img-promo
					width: 390px
					height: 393px
	.services
		.services__wrapper
			.services__item
				width: 340px
				.item__title
					font-size: 18px				
	.about
		&__wrapper
			padding: 20px 10px 10px
			h2
				font-size: 20px
			p
				font-size: 16px
				line-height: 20px
			.about__benefits
				font-size: 17px
	
@media (max-width: 793px)
	.header
		.header__wrapper
			.header__menu
				li
					font-size: 15px
	.promo
		&__wrapper
			padding: 25px 10px 0
			.promo__info
				h1
					font-size: 31px
					margin-bottom: 28px
				h2
					font-size: 21px
			.promo__images
				.img-promo
					width: 350px
					height: 353px		
	.services
		.services__wrapper
			.services__item
				width: 310px
	.about
		&__wrapper
			p
				font-size: 16px
				line-height: 20px
			.about__benefits
				font-size: 17px	
	.footer
		.footer__wrapper
			.footer__item
				.nav
					margin-left: 50px
					li
						width: 90%
	
@media (max-width: 732px)
	.promo
		&__wrapper
			padding: 25px 5px 0
			.promo__info
				h1
					font-size: 28px
					margin-bottom: 28px
				h2
					font-size: 19px
					margin-bottom: 40px
			.promo__images
				.img-promo
					width: 320px
					height: 323px
	.services
		.services__wrapper
			justify-content: space-between
	.footer
		.footer__wrapper
			.footer__item
				.nav
					margin-left: 30px

@media (max-width: 664px)	
	.header
		.header__wrapper
			.header__menu
				display: none
			.header__phone
				float: right
				margin-top: 5px
				font-size: 20px
				margin-right: 60px
				a::before
					width: 20px
					height: 20px
					left: -25px
			.burger
				display: block
			.burger__menu
				margin-left: 35px
				margin-top: 10px
				display: none
				text-align: center
				li
					margin: 0 8px
					font-size: 16px
					font-weight: 700
	.promo
		margin-top: 83px
		&__wrapper
			padding: 25px 5px 0
			.promo__info
				h1
					font-size: 26px
					margin-bottom: 28px
				h2
					font-size: 17px
					margin-bottom: 40px
			.promo__images
				.img-promo
					width: 280px
					height: 283px
	.services
		.services__wrapper
			justify-content: center
			.services__item
				width: 350px
				.item__title
					font-size: 19px	
	.footer
		.footer__wrapper
			display: block
			.footer__item
				max-width: initial
				margin-right: 0
				.footer__logo
					display: inline-block
				.footer__phone
					display: block
					font-size: 21px
					float: right
					margin: 10px 0 0
				.nav
					margin: 25px 0 30px
					text-align: center
					font-size: 15px
					li
						margin-bottom: 10px
						width: 100%
				.item__title
					text-align: center
					margin-bottom: 20px
				.social
					justify-content: space-evenly
				.web
					font-size: 15px

@media (max-width: 629px)
	.promo
		&__wrapper
			padding: 25px 40px 40px
			.promo__info
				h1
					font-size: 40px
					margin-bottom: 40px
				h2
					font-size: 28px
					margin-bottom: 50px
			.promo__images
				display: none

@media (max-width: 579px)
	.header
		.header__wrapper
			.header__logo
				img
					width: 220px
					height: 55px
			.header__phone
				float: right
				margin-top: 5px
				font-size: 18px
				margin-right: 55px
				a::before
					width: 18px
					height: 18px
					left: -20px
	.promo
		margin-top: 78px
		&__wrapper
			.promo__info
				h1
					font-size: 38px
				h2
					font-size: 26px
	.footer
		.footer__wrapper
			.footer__phone
					font-size: 19px

@media (max-width: 519px)
	.header
		.header__wrapper
			.header__phone
				position: initial
				float: none
				font-size: 18px
				margin-top: -5px
				margin-left: 70px
				a::before
					width: 18px
					height: 18px
	.promo
		margin-top: 93px
	.footer
		.footer__wrapper
			.footer__item
				.footer__phone
					font-size: 19px
	
@media (max-width: 479px)
	.header
		.header__wrapper
			.burger__menu
				margin-left: 0
				li
					margin: 10px 6px
	.promo
		&__wrapper
			.promo__info
				h1
					font-size: 34px
				h2
					font-size: 23px
	.services
		.services__wrapper
			.services__item
				ul
					margin: 0 0 35px 45px
	.footer
		.footer__wrapper
			.footer__item
				.footer__logo
					display: block
				.footer__phone
					display: initial
					float: none
					margin-left: 60px
					font-size: 17px
	.modal
		width: 80%
		#submit
			width: 80%

@media (max-width: 435px)
	.header
		.header__wrapper
			.burger
				top: 30px
				right: 5px
	.promo
		&__wrapper
			padding: 10px 10px 20px
			.promo__info
				h1
					font-size: 32px
				h2
					font-size: 22px
	.modal
		#submit
			width: 100%
	
@media (max-width: 414px)
	.promo
		&__wrapper
			padding: 10px 10px 20px
			.promo__info
				margin-left: 0
				h1
					font-size: 29px
				h2
					font-size: 19px
				.promo__btn
					margin-bottom: 15px

@media (max-height: 400px)
	.modal
		padding: 15px 25px
		.modal__title
			font-size: 18px
		.feed-form
			input
				height: 35px
			.submit__btn
				height: 37px
				margin: 10px auto

@media (max-height: 340px)
	.modal
		padding: 10px 25px
		.modal__title
			font-size: 17px
		.feed-form
			input
				height: 30px
			.submit__btn
				height: 32px






	






	

	

	


	





			





	
	

			
			   
		
			